<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>local weather</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>


<div style="background: whitesmoke; width: 300px;height: 500px" >
    <iframe scrolling="no" class="teal" src="https://tianqiapi.com/api.php?style=tw&skin=pitaya" frameborder="0" width="300" height="500" allowtransparency="true"></iframe>
    <br />
</div>


<script src="js/index.js">
</script>

</body>
</html>